.x ul {
  background: #7EB1FF;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.x a {
  color: #333;
  font color: #d24999;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}

@media all and (max-width: 600px) {
  .x ul {
    flex-flow: column wrap;
    padding: 0;
  }
}

body {
background-size:100% 180%;
  margin: 0;
}
h1{
color : #000000;
text-align: center;
}
